body{
box-sizing: border-box;
}
.container-fluid{
  background-color: #633974  ;
  color: white;
  width: 100%;
}
.jumbotron{
  background-color: #B6B5B3;
}
#logo {
  top: 20px;
  left: 5px;
  width: 80%;
  border-radius: 90px;
  border: 1px solid #ccc;
}
.btn {
  background-color: grey;
}
#search{
  color:grey;
  border-color: grey;
}
#piojos{
  height: 55vh!important;
}
#Abeyroad {

  height: 55vh!important;
}
.icon-star-full:before {
  content: "\e9d9";
  border-color: black;
  color: #F1C40F  ;
  }
.icon-cart:before {
  content: "\e93a";
  color:grey;

}
.icon-share2:before {
  content: "\ea82";
  color:grey;

}
footer{
  background-color: black;
  height: 30%;
  margin-bottom: 0;

}
@media (max-width: 768px){
  #logo{
    display: none;
  }


}
