body{
box-sizing: border-box;
}
.container-fluid{
  background-color: #633974  ;
  color: white;
  width: 100%;
}

#logo {
  top: 20px;
  left: 5px;
  width: 10%;
  border-radius: 90px;
  border: 1px solid #ccc;
}
.btn {
  background-color: grey;
}
#search{
  color:grey;
  border-color: grey;
}



.card-img-top {

    width: 80%;
    height: 70vh!important;
}
.icon-star-full:before {
  content: "\e9d9";
  border-color: black;
  color: #F1C40F  ;
}
.icon-cart:before {
  content: "\e93a";
  color:grey;

}
.icon-share2:before {
  content: "\ea82";
  color:grey;

}
