body{

}
.container-fluid{
  background-color: #633974  ;
  color: white;
  width: 100%;
}
h1{

}
#logo {
  top: 20px;
  left: 5px;
  width: 10%;
  border-radius: 90px;
  border: 1px solid #ccc;
}
.btn {
  background-color: grey;
}
